// app global css in SCSS form
.bg-gradient {
    background: linear-gradient(145deg, #00619d 11%, #00b8b4 75%);
}

.header {
    color: #808080;
    font-size: small;
}

.my-card {
    width: 100%;
    max-width: 700px;
}

.text-h5 {
    color: #00629d;
}
strong {
    font-weight: bold;
    color: #00629d;
    text-align: center;
}

table{
    align-items: str-length($string: "100%");
}




  

